/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    padding-left: 52px;
    transition: padding-left 0.3s ease;
  }
  
  .sidebar-toggle {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1031;
    margin: 8px 0 0 8px;
    transition: left 0.3s ease;
  } */